.hide{
    display: none ;
}
/* For smaller devices  */
@media screen and (max-width: 640px) {
    .header-container {
        padding: 24px 24px 0;
        flex-direction: column;
        text-align: center ;
    }
    .banner-img {
        width: 70%;
        margin-top: 30px;
    }
    .Featured-container {
        padding: 25px;
    }
    .futured-photo {
        flex-direction: column;
        gap: 40px;
    }

    .post-container{
        margin: 25px ;
    }
    .post-banner{
        flex-direction: column ;
        gap: 30px ;
    }
    .blog{
        width: 400px;
    }
    .blog-image {
        width: 100%;
    }

    .hot-deal-container{
        flex-direction: column-reverse ;
        gap: 30px ;
        min-height: 800px ;
    }

    .instagram-container {
        padding: 22px;
    }
    .instagram-photo-gallary{
        flex-direction: column;
        text-align: center ;
    }
    .box img{
        width: 100%;
    }
    .contact input[type="email"]{
        width: 100%;
        margin-top: 15px ;
    }
    .latest-deals-container{
        margin: 25px ;
    }
    .footer-container {
        padding: 60px 0;
    }
}
/* For Medium  devices  */
@media only screen and (min-width: 641px) and (max-width: 992px){
    .header-container {
        padding: 24px 24px 0;
        flex-direction: column;
        text-align: center ;
    }
    .banner-img {
        width: 70%;
        margin-top: 30px;
    }

    .Featured-container {
        padding: 25px;
    }
    .futured-photo {
        flex-direction: column;
        gap: 40px;
    }

    .post-container{
        margin: 25px ;
    }
    .post-banner{
        flex-direction: column ;
        gap: 30px ;
    }
    .blog{
        width: 700px;
        height: 750px ;
    }
    .blog-image {
        width: 100%;
        height: 500px;
    }

    .hot-deal-container{
        flex-direction: column-reverse ;
        gap: 30px ;
        min-height: 800px ;
    }

    .instagram-container {
        padding: 22px;
    }
    .instagram-photo-gallary{
        flex-direction: column;
        text-align: center ;
    }
    .box img{
        width: 100%;
    }

    .contact input[type="email"]{
        width: 100%;
        margin-top: 15px ;
    }
    .latest-deals-container{
        margin: 25px ;
    }
    .footer-container {
        padding: 90px 0;
    }
}