/* common style for all part */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
body{
    max-width: 1480px ;
    margin: 0 auto ;
}
.primary-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: none;
}

.primary-color {
    color: #272727;
}

/* header style start */
header {
    background: rgba(229, 84, 115, 0.10);
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 200px;
    padding-top: 50px;
}

.header-title {
    font-size: 80px;
    font-weight: 800;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 32px;
    margin-bottom: 32px;
    max-width: 630px;
}

.banner-img {
    width: 100% ;
}

/* Featured-container style start */
.Featured-container {
    padding: 170px 240px 128px;
}

.futured-content {
    text-align: center;
}

.futured-title {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.futured-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.futured-photo {
    margin-top: 48px;
    display: flex;
    justify-content: space-around;
}

.photo-list {
    text-align: center;

}

.photo-area {
    width: 300px;
    height: 400px;
    border-radius: 300px 300px 0px 0px;
    padding: 100px 60px 0;
    margin-bottom: 30px;
    margin-right: 20px;
    background: rgba(167, 33, 98, 0.15);
}

.photo-area:last-child {
    margin-right: 0;
}

#photos2 {
    background: rgba(5, 151, 160, 0.15);
}

#photos3 {
    background: rgba(71, 125, 17, 0.15);
}

.photo-title {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}
/* post-container style here just make for bonus point */
.post-container{
    margin: 0 120px auto ;
    overflow: hidden;
    text-align: center ;
    margin-bottom: 128px ;
    padding-bottom: 128px ;
    background: rgba(229, 84, 115, 0.10);
}
.blog-title{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 52px;
    margin-bottom: 20px;
}
.post-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 48px ;
}
.post-banner{
    display: flex ;
    justify-content: space-around;
    align-items: center ;
}
.blog{
    width: 350px ;
    height: 550px;
    border-radius: 12px ;
    /* border: 1px solid ; */
    border-left: 1px solid ;
    border-bottom: 1px solid ;
    background: #FFF;
    box-shadow: 4px 4px 4px rgb(241, 176, 225) ;
}
.blog-image{
    border-radius: 12px ;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
}
.blog-post-title{
    color: #272727;
    font-size: 20px;
    font-weight: 800;
    padding: 12px 0 8px;
}
.author{
    font-size: 14px ;
    padding:10px 0 0;
}
.blog-post{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.read-more{
    padding-bottom: 24px;
    display: inline-block;
    text-decoration: none;
    color: #272727;
    font-size: 16px;
    font-weight: 700;
    line-height: 35px;
}
/* hot-deal-container style start */
.hot-deal-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.hot-deal-content {
    text-align: center;
}

.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.hot-deal-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 52px;
}

/* instagram container style start */
.instagram-container {
    padding: 128px;
}

.instagram-content {
    text-align: center;
}

.instagram-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.instagram-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 48px;
}

.instagram-photo-gallary {
    display: flex;
    gap: 20px;
}

/* latest-deals-container section style start */
.latest-deals-container {
    text-align: center;
    margin-right: 120px;
    padding-top: 120px;
    margin-left: 120px;
    margin-bottom: 128px;
    background: url('images/Rectangle\ 9.png');
}

.deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 16px;
}

.deal-info {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.contact {
    margin-top: 48px;
    padding-bottom: 121px;
}

.contact input[type="email"] {
    border-radius: 8px;
    background: #FFF;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    width: 600px;
    height: 64px;
    border: 0;
    margin-right: 16px;
    text-indent: 12px ;
}

/* footer-container style start */
footer {
    background: #111010;
}

.footer-container {
    text-align: center;
    color: #FFF;
    padding: 128px 0;
}

.footer-title {
    font-size: 48px;
    font-weight: 800;
}

.footer-info {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 0 32px;
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}